/*start-header*/

.header-container{
	position: relative;
}

.header-icons{
	border-bottom:solid 1px rgb(52, 52, 52);
}

.header-social{
	display: inline-block;
	margin: 0px;
	margin-right: 20%;
}

.header-social li{
	list-style: none;
	display: inline-block;
}

.header-social-icon{
	color: rgb(52, 52, 52);
	margin: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	border:solid 1px;
	padding-top: 5px;
}

.header-social-icon:hover{
	background-color: rgb(2, 52, 52);
	color: rgb(254, 255,255);
}

.header-search-icon{
	float: right;
	color: rgb(52, 52, 52);
	margin: 15px;
}

.header-search-icon:hover{
	color: rgb(150, 150, 150);
}

.header-buttons{
	text-align: center;
}

.header-button{
	color: rgb(52, 52, 52);
	font-size: 10px;
	font-weight: bold;
	margin: 10px;
}

.header-button:hover{
	color: rgb(150, 150, 150);
}

.header-logo{
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}
/*end-header*/

/*start-news-related-component*/
.news_related_component{
	max-width: 200px;
	text-align: left;
	border-bottom:solid 1px rgb(150, 150, 150);
	padding: 5px;
}

.news_related_img{
	margin-bottom: 15px;
}

.news_related_text{
	color: rgb(52, 52, 52);
	font-size: 14px;
	margin-bottom: 5px;
}

.news_related_footer{
	color: rgb(150, 150, 150);
	font-size: 12px;
}

.news_related_footer_text{
	display: inline-block;
}

.news_related_footer_comments{
	display: inline-block;
	margin-right: 10px;
}

.news_related_footer_date{
	display: inline-block;
}
/*end-news-related-component*/

/*start-footer-component*/
.footer-container{
	color: white;
	background-color: rgb(52, 52, 52);
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 10px;
	/*height: 300px;*/
}

.footer-up{
	border-bottom:solid 1px white;
	padding-left: 80px;
}

.footer-left{
	display: inline-block;
	margin-right: 40px;
}

.footer-text{
	display: inline-block;
	text-align: left;
	max-width: 500px;
	color: rgb(150,150,150);
}

.footer-bottom{
	margin-top: 20px;
	padding: 0px 40px 0px 40px;
}

.footer-links{
	display: inline-block;
}

.footer-links li{
	list-style: none;
	display: inline-block;
	margin-right: 60px;
}

.footer_link{
	color: white;
	font-weight: bold;
}

.footer_link:hover{
	color: rgb(150,150,150);
}

.copyrights{
	color: rgb(150,150,150);
	float: right;
}

.footer-logo{
	width: 30px;
	height: 30px;
}

/*end-footer-component*/

/*start-tag-component*/
.tag{
	border-radius: 20px;
	background-color: rgb(240,240,240);
	padding: 3px 15px 3px 15px;
	color: rgb(150,150,150);
	font-size: 10px;
}

.tag:hover{
	color: rgb(52,52,52);
	background-color: rgb(150,150,150);
}
/*end-tag-component*/

/*start-comment-component*/
.comment-container{
	border-bottom:solid 1px rgb(150, 150, 150);
	display: inline-block;
	width: 80%;
	position: relative;
}

.comment-img{
	border-radius: 50%;
	width: 60px;
	height: 60px;
	float: left;
}

.comment-text{
	text-align: left;
	padding: 20px 0px 20px 20px;
	margin-left: 100px;
}

.comment-name{
	display: inline-block;
	margin-right: 20px;
	color: rgb(52, 52, 52);
	font-weight: bold;
	font-size: 12px;
}

.comment-header-text{
	display: inline-block;
	font-size: 10px;
	color: rgb(150,150,150);
}

.comment-content{
	font-size: 14px;
	color: rgb(130,130,130);
}

.comment-img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/*end-comment-component*/

/*start-social-button-component*/
.social-button{
	border-radius: 10px;
	color: white;
	padding: 8px 12px 8px 12px;
}

.social-button:hover{
	color: white;
}

.social-button-number{
	margin-left: 15px;
}

.facebook-blue{
	background-color: rgb(76, 106, 177);
}

.twitter-blue{
	background-color: rgb(29, 170, 233);
}

.google-red{
	background-color: rgb(213, 64, 58);
}
/*end-social-button-component*/

/*start-articles-layout-banner*/
.article-banner{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	height: 100vh;
	min-height: 500px;
	position: relative;
}

.article-banner-header{
	background-color: white;
}

.article-banner-text{
	position: absolute;
	display: inline-block;
	padding: 0px;
	width: 45%;
	top: 30%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
}

.article-banner-tag{
	color: yellow;
}

.article-banner-content{
	color: white;
}
/*end-articles-layout-banner*/

.article-middle{
	margin-top: 40px;
}

.related-articles-title{
	color: rgb(52 ,52, 52);
	font-weight: bold;
	padding: 0px 0px 30px 0px;
	font-size: 12px;
}

.article-middle-subtitle{
	color: rgb(52 ,52, 52);
	font-weight: bold;
	margin-top: 70px;
	margin-bottom: 20px;
}

.article-layout-img{
	margin-top: 40px;
	margin-bottom: 40px;
}

.related-articles{
	/*float: right;*/
	/*text-align: center;*/
}

.tags-container ul{
	list-style: none;
	margin: 0px;
}

.tags-container ul li{
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 30px;
}

.social-container ul{
	list-style: none;
	margin: 0px;
}

.social-container-label{
	float: left;
	margin-right: 40px;
	color: rgb(52 ,52, 52);
	font-size: 16px;
}

.social-container ul li{
	list-style: none;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 30px;
}

.comments-container{
	background-color: rgb(242, 243, 244);
	padding-top: 30px;
}

.comments-container ul{
	list-style: none;
	text-align: center;
}

.comments-container-label{
	color: rgb(150, 150, 150);
	font-size: 18px;
	font-weight: bold;
}

.add-comment-container{
	border-bottom:solid 1px rgb(150, 150, 150);
	display: inline-block;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 80%;
}

.new-comment{
	border-width: 0px;
	background-color: rgb(242, 243, 244);
	color: rgb(150, 150, 150);
	text-align: left;
	padding: 20px 0px 20px 20px;
	margin-left: 100px;
	width: 80%;
}

.clear{
	clear: both;
}