/*start-header*/

.header-container{
	height: 80px;
	position: relative;
}

.header-icons{
	border-bottom:solid 1px rgb(52, 52, 52);
}

.header-social{
	display: inline-block;
	margin: 0px;
}

.header-social li{
	list-style: none;
	display: inline-block;
}

.header-social-icon{
	color: rgb(52, 52, 52);
	margin: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	border:solid 1px;
	padding-top: 5px;
}

.header-social-icon:hover{
	background-color: rgb(2, 52, 52);
	color: rgb(254, 255,255);
}

.header-search-icon{
	float: right;
	text-align: center;
	vertical-align: middle;
	color: rgb(52, 52, 52);
	margin: 10px;
}

.header-search-icon:hover{
	color: rgb(150, 150, 150);
}

.header-buttons{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}

.header-button{
	color: rgb(52, 52, 52);
	font-size: 10px;
	font-weight: bold;
	margin: 10px;
}

.header-button:hover{
	color: rgb(150, 150, 150);
}

.header-logo{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
	transform: translateY(-10%);
	vertical-align: middle;
}
/*end-header*/

/*start-news-related-component*/
.news_related_component{
	width: 200px;
	text-align: left;
	border-bottom:solid 1px rgb(150, 150, 150);
	padding: 5px;
}

.news_related_img{
	margin-bottom: 15px;
}

.news_related_text{
	color: rgb(52, 52, 52);
	font-size: 14px;
	margin-bottom: 5px;
}

.news_related_footer{
	color: rgb(150, 150, 150);
	font-size: 12px;
}

.news_related_footer_text{
	display: inline-block;
}

.news_related_footer_comments{
	display: inline-block;
	margin-right: 10px;
}

.news_related_footer_date{
	display: inline-block;
}
/*end-news-related-component*/

/*start-footer-component*/
.footer-container{
	color: white;
	background-color: rgb(52, 52, 52);
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 10px;
	/*height: 300px;*/
}

.footer-up{
	border-bottom:solid 1px white;
	padding-left: 80px;
}

.footer-left{
	display: inline-block;
}

.footer-text{
	display: inline-block;
	text-align: left;
	margin-left: 40px;
	max-width: 500px;
	color: rgb(150,150,150);
}

.footer-bottom{
	margin-top: 20px;
	padding: 0px 40px 0px 40px;
}

.footer-links{
	display: inline-block;
}

.footer-links li{
	list-style: none;
	display: inline-block;
	margin-right: 60px;
}

.footer_link{
	color: white;
	font-weight: bold;
}

.footer_link:hover{
	color: rgb(150,150,150);
}

.copyrights{
	color: rgb(150,150,150);
	float: right;
}

.footer-logo{
	width: 30px;
	height: 30px;
}

/*end-footer-component*/

.clear{
	clear: both;
}