<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="css/foundation.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="article_component">
		<img class="article_component_img" src="images/news.jpg">
		<span class="article_component_info">
			<div class="article_component_type" data-article-type="news">NEWS</div>
			<div class="news_related_footer_comments">
				<i class="fa fa-comments-o news_related_footer_text"></i>
				<p class="news_related_footer_text">12</p>
			</div>
			<div class="news_related_footer_date">
				<i class="fa fa-calendar-o news_related_footer_text"></i>
				<p class="news_related_footer_text">Apr 25, 2015</p>
			</div>	
		</span>
		<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
	</div>
	<div class="article_component">
		<img class="article_component_img" src="images/news.jpg">
		<span class="article_component_info">
			<div class="article_component_type" data-article-type="tech">TECH</div>
			<div class="news_related_footer_comments">
				<i class="fa fa-comments-o news_related_footer_text"></i>
				<p class="news_related_footer_text">12</p>
			</div>
			<div class="news_related_footer_date">
				<i class="fa fa-calendar-o news_related_footer_text"></i>
				<p class="news_related_footer_text">Apr 25, 2015</p>
			</div>	
		</span>
		<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
	</div>
</body>
</html>