<!DOCTYPE html>
<html>
<head>
	<title>Author Card Component</title>
	<link rel="stylesheet" href="../css/foundation.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<!-- Wolverine -->
	<div class="author_card" id="profile">
		<p class="card_label" data-type="author">AUTHOR</p>
		<img class="author_display_image" src="../images/authors/wolverine.jpg">
		<p class="author_name">James Howlett</p>
	</div>
	<div class="author_card" id="quote">
		<p class="card_label" data-type="quote">JAMES HOWLETT</p>
		<p class="author_quote">The pain lets you know you're still alive.</p>
	</div>

	<!-- Ironman -->
	<div class="author_card" id="profile">
		<p class="card_label" data-type="author">AUTHOR</p>
		<img class="author_display_image" src="../images/authors/ironman.jpg">
		<p class="author_name">Tony Stark</p>
	</div>
	<div class="author_card" id="quote">
		<p class="card_label" data-type="quote">TONY STARK</p>
		<p class="author_quote">Heroes are made by the paths they choose, not the powers they are graced with.</p>
	</div>

	<!-- Cyclops -->
	<div class="author_card" id="profile">
		<p class="card_label" data-type="author">AUTHOR</p>
		<img class="author_display_image" src="../images/authors/cyclops.jpg">
		<p class="author_name">Scott Summers</p>
	</div>
	<div class="author_card" id="quote">
		<p class="card_label" data-type="quote">SCOTT SUMMERS</p>
		<p class="author_quote">You can't kill an idea. It always comes back. Resurrected. Or reborn into a different form.</p>
	</div>

	<!-- Batman -->
	<div class="author_card" id="profile">
		<p class="card_label" data-type="author">AUTHOR</p>
		<img class="author_display_image" src="../images/authors/batman.jpg">
		<p class="author_name">Bruce Wayne</p>
	</div>
	<div class="author_card" id="quote">
		<p class="card_label" data-type="quote">BRUCE WAYNE</p>
		<p class="author_quote">Sometime it's only madness that makes us what we are.</p>
	</div>
</body>
</html>