<!DOCTYPE html>
<html>
<head>
	<title>Author Card Component</title>
	<link rel="stylesheet" href="../css/foundation.min.css">
	<link rel="stylesheet" href="../css/slider.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<!-- Wolverine -->
	<div class="slider blog_slider" data-slider data-nav-class="blog_slider_nav" data-dots=false data-arrow-class="blog_slider_arrow">
		<div class="slides_container blog_slides_container">
			<div class="slide blog_slide" id="blog_slide_first">
				<div class="blog_slide_content">
					<p class="blog_slide_category">Projects</p>
					<h2 class="blog_slide_title"> Cameron Set to Return with U.K. Majority as SNP Sweeps Scotland</h2>
					<button class="blog_slide_button">READ MORE</button>
				</div>
			</div>
			<div class="slide blog_slide" id="blog_slide_first">
				<div class="blog_slide_content">
					<p class="blog_slide_category">Projects</p>
					<h2 class="blog_slide_title"> Cameron Set to Return with U.K. Majority as SNP Sweeps Scotland</h2>
					<button class="blog_slide_button">READ MORE</button>
				</div>
			</div>
			<div class="slide blog_slide" id="blog_slide_first">
				<div class="blog_slide_content">
					<p class="blog_slide_category">Projects</p>
					<h2 class="blog_slide_title"> Cameron Set to Return with U.K. Majority as SNP Sweeps Scotland</h2>
					<button class="blog_slide_button">READ MORE</button>
				</div>
			</div>



		</div>
	</div>

	<script src="../js/jquery.js"></script>
	<script src="../js/slider.js"></script>
</body>
</html>