<!DOCTYPE html>
<html>
<head>
	<title>Author Card Component</title>
	<link rel="stylesheet" href="../css/foundation.min.css">
	<link rel="stylesheet" href="../css/slider.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<!-- Wolverine -->
	<div class="slider home_slider" data-slider data-nav-class="home_slider_nav" data-dots-class="home_slider_dots" data-arrow-class="home_slider_arrow">
		<div class="slides_container home_slides_container">
			<div class="slide home_slide" id="home_slide_first">
				<p class="home_slide_category">SCIENCE</p>
				<h2 class="home_slide_title"> Is NASA Building a Huge Rocket to Nowhere?</h2>
				<p class="home_slide_info"><i class="fa fa-calendar-o news_related_footer_text"></i> 12 <i class="fa fa-calendar-o news_related_footer_text"></i> 2 hours ago</p>
			</div>

			<div class="slide home_slide" id="home_slide_second">
				<p class="home_slide_category">SCIENCE</p>
				<h2 class="home_slide_title"> Is NASA NOT Building a Huge Rocket to Nowhere?</h2>
				<p class="home_slide_info"><i class="fa fa-calendar-o news_related_footer_text"></i> 12 <i class="fa fa-calendar-o news_related_footer_text"></i> 2 hours ago</p>
			</div>

						<div class="slide home_slide" id="home_slide_second">
				<p class="home_slide_category">SCIENCE</p>
				<h2 class="home_slide_title"> Is NASA NOT Building a Huge Rocket to Nowhere?</h2>
				<p class="home_slide_info"><i class="fa fa-calendar-o news_related_footer_text"></i> 12 <i class="fa fa-calendar-o news_related_footer_text"></i> 2 hours ago</p>
			</div>

		</div>
		</div>
		<script src="../js/jquery.js"></script>
		<script src="../js/slider.js"></script>
	</body>
	</html>