<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="css/foundation.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="post_box_container">
		<img class="post_box_img" src="images/news.jpg">
		<div class="post_box_text">
			<div class="post_box_text_header">
				<p class="post_box_text_header_tag">Tech</p>
				<div class="post_box_text_header_data">
					<i class="fa fa-comments-o news_related_footer_text"></i>
					<p class="news_related_footer_text">12</p>
				</div>
				<div class="post_box_text_header_data">
					<i class="fa fa-calendar-o news_related_footer_text"></i>
					<p class="news_related_footer_text">Apr 25, 2015</p>
				</div>
			</div>
			<p class="post_box_text_title">Apple watch review: You will want one but you don't need one</p>
		</div>
	</div>
	<script src="js/jquery.js"></script>
</body>
</html>