<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" href="../css/foundation.min.css">
	<link rel="stylesheet" href="../css/slider.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<!-- Banner -->
	<div class="blog-banner">
		<!-- Header -->
		<nav class="blog-banner-header header-container">
			<div class="row">
				<div class="small-12 columns">
					<div class="header-icons">
						<ul class="header-social">
							<li><i class="header-social-icon fa fa-facebook"></i></li>
							<li><i class="header-social-icon fa fa-twitter"></i></li>
							<li><i class="header-social-icon fa fa-google-plus"></i></li>
							<li><i class="header-social-icon fa fa-youtube "></i></li>
							<li><i class="header-social-icon fa fa-instagram"></i></li>	
						</ul>
						<div class="header-logo-container">
							<img class="header-logo" src="../images/logo.png">
						</div>
						<div class="header-search">
							<i class="header-search-icon fa fa-search"></i>
							<input class="search-input" type="text" name="search-input" value="Search">
						</div>
						<div class="clear"></div>
					</div>
					<div class="header-buttons">
						<a href="" class="header-button">BLOG</a>
						<a href="" class="header-button">PHOTOGRAPHY</a>
						<a href="" class="header-button">ABOUT</a>
						<a href="" class="header-button">CONTACT</a>
					</div>				
				</div>
			</div>
		</nav>
		<!-- Slider goes here -->
		<div class="slider blog_slider" data-slider data-nav-class="blog_slider_nav" data-dots=false data-arrow-class="blog_slider_arrow">
			<div class="slides_container blog_slides_container">
				<div class="slide blog_slide" style="background-image: url(../images/banner.jpg);">
					<div class="blog_slide_content">
						<p class="blog_slide_category">Projects</p>
						<h2 class="blog_slide_title"> Cameron Set to Return with U.K. Majority as SNP Sweeps Scotland</h2>
						<button class="blog_slide_button">READ MORE</button>
					</div>
				</div>
				<div class="slide blog_slide" style="background-image: url(../images/house_of_m.png);">
					<div class="blog_slide_content">
						<p class="blog_slide_category">Projects</p>
						<h2 class="blog_slide_title"> Cameron Set to Return with U.K. Majority as SNP Sweeps Scotland</h2>
						<button class="blog_slide_button">READ MORE</button>
					</div>
				</div>
				<div class="slide blog_slide" style="background-image: url(../images/ironman_minimal.jpg);">
					<div class="blog_slide_content">
						<p class="blog_slide_category">Projects</p>
						<h2 class="blog_slide_title"> Cameron Set to Return with U.K. Majority as SNP Sweeps Scotland</h2>
						<button class="blog_slide_button">READ MORE</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row article-main">
		<div class="article-filtering medium-3 columns">
			<div class="row droplists-container">
				<div class="dropdown-component">
					<h6 class="dropdown-title">Category</h6>
					<button class="dropdown-button">
						<span class="dropdown-button-selected">Selected</span> 
						<i class="fa fa-angle-down dropdown-button-icon" aria-hidden="true"></i>
						<div class="clear"></div>
					</button>
					<ul class="dropdown-list">
						<li class="dropdown-item">All</li>
						<li class="dropdown-item">News</li>
						<li class="dropdown-item">Sports</li>
						<li class="dropdown-item">Politics</li>
						<li class="dropdown-item">Tech</li>
					</ul>
				</div>
				<div class="dropdown-component">
					<h6 class="dropdown-title">Sort By</h6>
					<button class="dropdown-button">
						<span class="dropdown-button-selected">Selected</span> 
						<i class="fa fa-angle-down dropdown-button-icon" aria-hidden="true"></i>
						<div class="clear"></div>
					</button>
					<ul class="dropdown-list">
						<li class="dropdown-item">Latest</li>
						<li class="dropdown-item">Hottest</li>
						<li class="dropdown-item">Top Rated</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<!-- Tags list -->
				<div class="article-tags-container">
					<div class="tags-label">TAGS</div>
					<div class="tags-list">
						<ul>
							<li><a href="" class="tag">MARKETS</a></li>
							<li><a href="" class="tag">BUSINESS</a></li>
							<li><a href="" class="tag">SPORT</a></li>
							<li><a href="" class="tag">SPECIAL REPORTS</a></li>
							<li><a href="" class="tag">CULTURE</a></li>
							<li><a href="" class="tag">SCI-TECH</a></li>
							<li><a href="" class="tag">TRAVEL</a></li>
							<li><a href="" class="tag">LUXURY</a></li>
							<li><a href="" class="tag">SMARTPHONE</a></li>
							<li><a href="" class="tag">TABLET</a></li>
							<li><a href="" class="tag">COMPUTER</a></li>
							<li><a href="" class="tag">SMART TV</a></li>
							<li><a href="" class="tag">SMARTWATCH</a></li>
							<li><a href="" class="tag">GOOGLE GLASS</a></li>
							<li><a href="" class="tag">SPORTS UNITED</a></li>
							<li><a href="" class="tag">SPEED</a></li>
							<li><a href="" class="tag">GRAVITY</a></li>
							<li><a href="" class="tag">THE CORNER</a></li>
							<li><a href="" class="tag">EUROPE</a></li>
							<li><a href="" class="tag">REAL ECONOMY</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="articles-container medium-9 columns">
			<div class="articles-list">
				<div class="article_component medium-3">
					<img class="article_component_img" src="../images/news.jpg">
					<span class="article_component_info">
						<div class="article_component_type" data-article-type="tech">TECH</div>
						<div class="news_related_footer_comments">
							<i class="fa fa-comments-o news_related_footer_text"></i>
							<p class="news_related_footer_text">12</p>
						</div>
						<div class="news_related_footer_date">
							<i class="fa fa-calendar-o news_related_footer_text"></i>
							<p class="news_related_footer_text">Apr 25, 2015</p>
						</div>	
					</span>
					<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
				</div>
				<div class="article_component medium-3">
					<img class="article_component_img" src="../images/news.jpg">
					<span class="article_component_info">
						<div class="article_component_type" data-article-type="news">NEWS</div>
						<div class="news_related_footer_comments">
							<i class="fa fa-comments-o news_related_footer_text"></i>
							<p class="news_related_footer_text">12</p>
						</div>
						<div class="news_related_footer_date">
							<i class="fa fa-calendar-o news_related_footer_text"></i>
							<p class="news_related_footer_text">Apr 25, 2015</p>
						</div>	
					</span>
					<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
				</div>
				<div class="article_component medium-3">
					<img class="article_component_img" src="../images/news.jpg">
					<span class="article_component_info">
						<div class="article_component_type" data-article-type="news">NEWS</div>
						<div class="news_related_footer_comments">
							<i class="fa fa-comments-o news_related_footer_text"></i>
							<p class="news_related_footer_text">12</p>
						</div>
						<div class="news_related_footer_date">
							<i class="fa fa-calendar-o news_related_footer_text"></i>
							<p class="news_related_footer_text">Apr 25, 2015</p>
						</div>	
					</span>
					<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
				</div>
				<div class="article_component medium-3">
					<img class="article_component_img" src="../images/news.jpg">
					<span class="article_component_info">
						<div class="article_component_type" data-article-type="tech">TECH</div>
						<div class="news_related_footer_comments">
							<i class="fa fa-comments-o news_related_footer_text"></i>
							<p class="news_related_footer_text">12</p>
						</div>
						<div class="news_related_footer_date">
							<i class="fa fa-calendar-o news_related_footer_text"></i>
							<p class="news_related_footer_text">Apr 25, 2015</p>
						</div>	
					</span>
					<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
				</div>
				<div class="article_component medium-3">
					<img class="article_component_img" src="../images/news.jpg">
					<span class="article_component_info">
						<div class="article_component_type" data-article-type="news">NEWS</div>
						<div class="news_related_footer_comments">
							<i class="fa fa-comments-o news_related_footer_text"></i>
							<p class="news_related_footer_text">12</p>
						</div>
						<div class="news_related_footer_date">
							<i class="fa fa-calendar-o news_related_footer_text"></i>
							<p class="news_related_footer_text">Apr 25, 2015</p>
						</div>	
					</span>
					<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
				</div>
				<div class="article_component medium-3">
					<img class="article_component_img" src="../images/news.jpg">
					<span class="article_component_info">
						<div class="article_component_type" data-article-type="news">NEWS</div>
						<div class="news_related_footer_comments">
							<i class="fa fa-comments-o news_related_footer_text"></i>
							<p class="news_related_footer_text">12</p>
						</div>
						<div class="news_related_footer_date">
							<i class="fa fa-calendar-o news_related_footer_text"></i>
							<p class="news_related_footer_text">Apr 25, 2015</p>
						</div>	
					</span>
					<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
				</div>
				<div class="article_component medium-3">
					<img class="article_component_img" src="../images/news.jpg">
					<span class="article_component_info">
						<div class="article_component_type" data-article-type="tech">TECH</div>
						<div class="news_related_footer_comments">
							<i class="fa fa-comments-o news_related_footer_text"></i>
							<p class="news_related_footer_text">12</p>
						</div>
						<div class="news_related_footer_date">
							<i class="fa fa-calendar-o news_related_footer_text"></i>
							<p class="news_related_footer_text">Apr 25, 2015</p>
						</div>	
					</span>
					<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
				</div>
				<div class="article_component medium-3">
					<img class="article_component_img" src="../images/news.jpg">
					<span class="article_component_info">
						<div class="article_component_type" data-article-type="news">NEWS</div>
						<div class="news_related_footer_comments">
							<i class="fa fa-comments-o news_related_footer_text"></i>
							<p class="news_related_footer_text">12</p>
						</div>
						<div class="news_related_footer_date">
							<i class="fa fa-calendar-o news_related_footer_text"></i>
							<p class="news_related_footer_text">Apr 25, 2015</p>
						</div>	
					</span>
					<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
				</div>
				<div class="article_component medium-3">
					<img class="article_component_img" src="../images/news.jpg">
					<span class="article_component_info">
						<div class="article_component_type" data-article-type="news">NEWS</div>
						<div class="news_related_footer_comments">
							<i class="fa fa-comments-o news_related_footer_text"></i>
							<p class="news_related_footer_text">12</p>
						</div>
						<div class="news_related_footer_date">
							<i class="fa fa-calendar-o news_related_footer_text"></i>
							<p class="news_related_footer_text">Apr 25, 2015</p>
						</div>	
					</span>
					<p class="article_component_text">This is the trader behind some of dequtsche bank's most embarassing messages</p>
				</div>
			</div>
			<div class="row articles-load-more-button">
				<a href="">LOAD MORE</a>
			</div>		
		</div>
	</div>

	<!-- Footer -->
	<div class="footer-container">
		<div class="row">
			<div class="small-12 columns">
				<div class="footer-up">
					<div class="footer-left">
						<img src="../images/logo.png" class="footer-logo">
						<p>MET</p>
					</div>
					<span class="footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
					<div class="clear"></div>
				</div>
				<div class="footer-bottom">
					<ul class="footer-links">
						<li><a href="" class="footer_link">NEWS</a></li>
						<li><a href="" class="footer_link">GALLERY</a></li>
						<li><a href="" class="footer_link">BLOG</a></li>
						<li><a href="" class="footer_link">ABOUT</a></li>
						<li><a href="" class="footer_link">CONTACTS</a></li>
					</ul>
					<span class="copyrights"><i class="fa fa-copyright"></i> 2015 MET. All Rights Reserved.</span>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="../js/jquery.js"></script>
	<script src="../js/slider.js"></script>
	<script src="../js/article.js"></script>
	<script src="../js/dropdown.js"></script>
</body>
</html>